*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body { 
    background: #CAF1FF;

}

nav { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px;
    position: relative;
    margin-top: 20px;
}
.logo { 
    width: 60px;
    height: 60px;
    position: relative;
    left: 140px;
  }
.logo-align { 
    display: flex;
    flex-direction: column;
}
.logo-txt { 
    font-size: 16px;
    color: black; 
    position: relative;
    top: 10px;
    left: 115px;
    width: 300px;
    font-weight: 600;
}
.profile-logo { 
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 100px;
}
.profile-align { 
    display: flex;
    flex-direction: column;
}
.profile-txt { 
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 700;
    width: 100px;
    position: relative;
    right: 15px;
}
nav ul { 
    width: 100%;
    text-align: right;
}

nav ul li { 
    display: inline-block;
    list-style: none;
}

nav ul li a { 
    font-family: "Poly", serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 8px;
    transition: 300ms ease-in-out;
    border-radius: 12px;
    right: 20px;
}
nav li a:hover { 
    background: rgb(197, 193, 193);
    color: #181818;
    border-radius: 12px;
  }

.submenu-wrap { 
    position: absolute; 
    left: 1310px;
    top: 111px;
    width: 140px;
    display: none;
}
.submenu-wrap.open-menu {
    display: block;

}
.submenu { 
    background: white;
    color: black;
    padding: 16px 10px 16px 10px;
    margin: 14px 10px 14px 10px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}
.userinfo { 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.userinfo a { 
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
   transition: 200ms ease-in-out;
}
.userinfo a:hover {  
    cursor: pointer;
    font-weight: 600;
}

.main { 
    display: flex;
    margin: 80px 100px 80px 100px;
    padding: 20px;
}
.first-half { 
 display: flex;
 flex-direction: column;
 flex: 1;
}

.first-half h1 { 
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 4px;
    letter-spacing: 1px;
}
.first-half p { 
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: rgb(63, 63, 63);
    font-weight: 500;
    position: relative;
    left: 50px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.form { 
    padding: 4px;

}

.for-group { 
    background: #CAF1FF;
    color: #181818;
    width: 250px;
    height: 40px;
    border-radius: 4px;
    padding: 5px 3px 3px 3px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 15px;
    
}

.for-group::placeholder { 
    font-family: "Poppins", sans-serif;
    color: #181818;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
}
.grouping { 
    font-family: "Poppins", sans-serif;
    display: flex;
    margin-bottom: 15px;
}
.for-email{ 
    font-family: "Poppins", sans-serif;
    background: #CAF1FF;;
    color: #181818;
    width: 508px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 18px;  
    font-weight: 500;
    padding-left: 15px;
    border-radius: 4px;
}
.for-email::placeholder { 
    font-family: "Poppins", sans-serif;
    color: #181818;
    font-size: 18px;
    position: relative;
    left: 73px;
    letter-spacing: 2px;
    font-weight: 500;
}
.for-phone { 
    font-family: "Poppins", sans-serif;
    background: #CAF1FF;;
    color: #181818;
    width: 508px;
    height: 40px;
    margin-bottom: 30px;
    font-size: 18px;  
    font-weight: 500;
    padding-left: 15px;
    border-radius: 4px;
}
.for-phone::placeholder { 
    font-family: "Poppins", sans-serif;
    color: #181818;
    font-size: 18px;
    position: relative;
    left: 73px;
    letter-spacing: 2px;
    font-weight: 500;
}
.postion { 
    display: flex;
    flex-direction: column;
}
.care-text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 20px;
}
.care { 
    font-family: "Poppins", sans-serif;
    background: #CAF1FF;;
    color: #181818;
    width: 508px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 18px;  
    font-weight: 500;
    padding-left: 15px;
    border-radius: 4px;

}
select option { 
 padding-left: 5px;
}

.select-btn { 
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    background: #181818; 
    color: white;
    text-transform: uppercase;
    width: 240px;
    height: 48px;
    padding: 8px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 12px;
    transition:  200ms ease-in-out;
    position: relative;
    left: 130px;
    top: 20px;
}

.select-btn:hover { 
    cursor: pointer;
    background: #3a3838; 
}

.second-half { 
    display: flex;
    flex: 1;
    border: 1px solid black;
    border-style: dashed;
    border-width: 2px;
    align-items: flex-start;
    
}
.upload-cv { 
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 16px;
    
}
.cv-icon-img { 
    width: 100px;
    height: 100px;
    position: relative;
    left: 265px;
    margin-bottom: 20px;
}

#cvFile {    
    font-family: "Poppins", sans-serif;
    background: #CAF1FF;;
    color: #181818;
    width: 508px;
    height: 40px;
    margin-bottom: 30px;
    font-size: 0; 
    font: hidden;
    font-weight: 500;
    padding-left: 15px;
    border-radius: 4px;
    overflow: hidden;

    
}

#cvFile[type="file"]::file-selector-button { 
    font-family: "Poppins", sans-serif;
    background: #CAF1FF;;
    color: #181818;
    width: 200px;
    height: 40px;
    margin-bottom: 30px;
    font-size: 18px;  
    font-weight: 500;
    padding-left: 15px;
    margin-right: 15px;
    border-radius: 4px;
    position: relative;
    left: 180px;
}
.upload-cv-btn { 
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    background: #181818; 
    color: white;
    text-transform: uppercase;
    width: 240px;
    height: 48px;
    padding: 8px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 12px;
    transition:  200ms ease-in-out;
    position: relative;
    left: 174px;
    bottom: 10px;
    margin-bottom: 20px;
}

.upload-cv-btn:hover { 
    cursor: pointer;
    background: #3a3838; 
}

.upload-cv p { 
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 500;
    position: relative;
    left: 140px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
  /* footer */
  
  .site-footer { 
    background: #4E7C69;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 20px 40px 20px;
}

.site-footer p { 
    position: relative; 
    right: 12px;
}
.footer-logo-img { 
    width: 80px;
    height: 80px;
}
.footer-logo p { 
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 14px;
}
.footer-logo-text {   
    font-family: "Poppins", sans-serif;
    position: relative;
    color: white;
    font-weight: 400;
    
}
.copyright { 
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 15px;
    right: 13px;
}
.quick-link h2 { 
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 3px;
    position: relative;
    left: 8px;
}
.quick-link li { 
    list-style: none;
}

.quick-link li a { 
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    margin: 10px;
}

.icons-footer { 
    width: 20px;
    height: 20px;
    margin: 4px 13px 4px 4px;

}

.get-in-touch h2{ 
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 14px;
    position: relative; 
    left: 8px;

}
.get-in-touch p { 
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: 4px;
   
}

.social-media {
    display: flex;
    flex-direction: column;
    
} 
.social-media h2 { 
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 14px;
    position: relative;
    left: 8px;
    margin-bottom: 2px;

}
.social-media p { 
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 14px;
    margin: 4px;
    font-weight: 400;
}
.get-in-touch { 
    display: flex;
    flex-direction: column;

}

/* lining it up */
.phone-number { 
    display: flex;

}
.location { 
    display: flex;

}
.mail { 
    display: flex;

}

/* lining up social media*/
.fb { 
    display: flex;
}
.twt { 
    display: flex;
}
.insta { 
    display: flex;
}